@mixin margin-gap-horizontal($margin-size) {

  &:nth-last-child(1) {
    margin-left: $margin-size * 0.5;
  }

  &:nth-child(1) {
    margin-right: $margin-size * 0.5;
  }
}

@mixin margin-gap-vertical($margin-size) {

  &:not(:first-child) {
    margin-top: $margin-size;
  }

  &:not(:last-child) {
    margin-bottom: $margin-size;
  }
}

@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}