.page {
  box-sizing: border-box;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.page__inner {
  box-sizing: border-box;
  width: 800px;
  max-width: 100%;
}

.page__content {
  margin: 60px 0;
}