.page {
  box-sizing: border-box;
  padding: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  &__inner {
    box-sizing: border-box;
    width: 800px;
    max-width: 100%;
  }

  &--horizontal {
    padding: 15px;
  }

  &--horizontal &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.page__content {
  margin: 60px 0;
}