.title {
  font-size: 2rem;
}

.header {
  margin-bottom: 60px;
  display: flex;
  align-items: center;

  h2 {
    font-size: 1.4rem;
    margin: 0px;
    margin-top: -0.1em;
    margin-left: 12px;
  }
}

.button {
  background-color: var(--theme-color);
  color: white;

  &:active:not(:disabled) {
    background-color: var(--base-color-1-contrast);
    color: black;
  }
}