@use '../../styles/sizes';
@use '../../styles/mixins';

.task-item__button {
  all: unset;
  border: none;
  outline: none;
  font: inherit;
  display: block;
  width: 100%;
  text-align: left;
}

.task-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include mixins.margin-gap-vertical(12px);
  color: var(--base-text-color-1);
  transition: all 70ms ease;

  h2 {
    margin: 0;
    font-size: 1.1rem;
  }

  &:active:not(&--active) {
    background-color: var(--base-color-1);
  }

  &--active {
    background-color: var(--task-color);
    color: white;

    & .task-item__bar {
      background-color: white;
    }
  }
}

.task-item:hover .task-item__edit-button {
  display: block;
}

.task-item__bar {
  width: 10px;
  margin-right: 10px;
  flex-shrink: 0;

  background-color: var(--task-color);
  border-radius: 100px;
  transition: all 600ms ease;
}

.task-item__header {
  flex-grow: 1;
}