@use '../../sizes';
@use '../../mixins';

.task {
  box-sizing: border-box;
  padding: 20px 15px;
  @include mixins.margin-gap-vertical(24px);
  
  background-color: var(--card-color);
  border-radius: sizes.$border-radius;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.task__bar {
  overflow: hidden;
  height: 16px;
  width: 100%;
  
  background-color: #ccc;
  border-radius: 100px;
}

.task__bar-fill {
  height: 100%;
  width: 40%;
  background-color: hsl(214, 86%, 53%);
}