@use '../../styles/sizes';
@use '../../styles/mixins';

.task {
  @include mixins.margin-gap-vertical(24px);
}

.task:hover .task__header-button {
  display: block;
}

.task__header {
  display: flex;
  align-items: center;
}

.task__header-button {
  margin-top: -20px;
  margin-left: 10px;
  display: none;

  &--danger {
    color: #ff0000;
  }
}

.task__edit-buttonbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.task__fulfill-container {
  display: flex;
  align-items: flex-end;
  justify-items: stretch;
}

.task__bar-container {
  flex-grow: 1;
}

.task__bar-label-container {
  @include mixins.clearfix();
  margin-bottom: 10px;
  color: var(--base-text-color-3);
}

.task__bar-label {
  &:first-child {
    float: left;
  }

  &:last-child {
    float: right;
  }
}

.task__bar {
  overflow: hidden;
  cursor: pointer;
  height: 14px;
  width: 100%;

  background-color: var(--base-color-1);
  border-radius: 100px;
}

.task__bar-fill {
  height: 100%;
  width: 40%;
  background-color: hsl(214, 86%, 53%);
}