@use '../../styles/sizes';
@use '../../styles/mixins';

.button {
  $size: 32px;
  display: block;
  cursor: pointer;
  height: $size;
  width: $size;
  padding: #{($size - 20px) * 0.5};

  &:not(&--free-margin) {
    @include mixins.margin-gap-horizontal(10px);
  }

  border: none;
  border-radius: 100%;
  background-color: var(--base-color-1);

  color: #000;
  text-align: center;
  transition: all sizes.$common-transition-time ease;

  &:active:not(:disabled) {
    background-color: var(--button-active-color);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.button--wide {
  width: 50px;
  margin: 0;
  border-radius: 100px;
}