@use '../../styles/sizes';
@use '../../styles/mixins';

.card {
  display: block;
  box-sizing: border-box;
  padding: 20px 15px;

  background-color: var(--card-color);
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.07),
    0px 1px 3px rgb(0, 0, 0, 0.1);
  border-radius: sizes.$border-radius;
}